@mixin font-GreycliffCF-Bold {
    font-family: 'GreycliffCF-Bold', sans-serif;
    font-weight: normal;
}
@mixin font-GreycliffCF-DemiBold {
    font-family: 'GreycliffCF-DemiBold', sans-serif;
    font-weight: normal;
}
@mixin font-GreycliffCF-ExtraBold {
    font-family: 'GreycliffCF-ExtraBold', sans-serif;
    font-weight: normal;
}
@mixin font-GreycliffCF-Heavy {
    font-family: 'GreycliffCF-Heavy', sans-serif;
    font-weight: normal;
}
@mixin font-GreycliffCF-Light {
    font-family: 'GreycliffCF-Light', sans-serif;
    font-weight: normal;
}
@mixin font-GreycliffCF-Medium {
    font-family: 'GreycliffCF-Medium', sans-serif;
    font-weight: normal;
}
@mixin font-GreycliffCF-Regular {
    font-family: 'GreycliffCF-Regular', sans-serif;
    font-weight: normal;
}